$color_title : #D95F69;
$color_section : #F29544;
$button_color : #BFB99B;
$button_color_active : #F2E18D;
$font-family_title : 'Dancing Script';
$font-family_current : 'Lato';

@mixin box-shadow_content {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.438);
}


@mixin telephone {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablette {
  @media (max-width: 992px) {
    @content;
  }
}

h1 {
  text-align: center;
  color: $color_title;
  font-family: $font-family_title, cursive;
  font-size: 70px;
  margin-top: 0;
}


.main {
  display: flex;
  justify-content: space-around;


  .main-section {
    @include box-shadow_content;
    padding: 10px;
    width: 30%;
    border-radius: 15px;
    font-family: $font-family_current, sans-serif;


    &__item {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      border: 2px solid #BFB99B;
      color: $color_section;
      border-radius: 15px;
      margin-bottom: 20px;
    }

    &_note {
      font-size: 12px;
      color: $button_color;
      font-weight: bold;
    }

    &__heading {
      color: $color_title;
      font-family: $font-family_title, cursive;
      font-size: 35px;
      margin-top: 0;
    }

  }


  @include tablette() {
    flex-direction: row;
    flex-wrap: wrap;

    &-section:not(:last-child) {
      // width: 90%;
      flex-basis: 48%;
      box-sizing: border-box;
      margin-bottom: 35px;
    }
    &-section:last-child{
      flex-basis: 96%;
    }
  }

  @include telephone() {
    flex-direction: column;
    align-items: center;

    .main &-section {
      width: 90%;
      flex-basis: 90%;
      margin-bottom: 35px;
    }
  }

}


.commande {
  width: 100%;
  text-align: center;
  font-family: $font-family_current, sans-serif;

  p {
    color: $color_section;
    font-size: 20px;
  }



  button {
    @include box-shadow_content;
    background-color: $button_color;
    border: 2px solid $button_color;
    padding: 8px;
    border-radius: 7px;
    color: white;
    font-weight: bolder;

    &:hover {
      color: $color_section;
      cursor: pointer;
    }

    &:active {
      color: $color_section;
      cursor: pointer;
      background-color: $button_color_active;
    }
  }

}